.articles.index

.articles
  &.show, &.edit, &.new
    @extend %flexed--column
    main
      @extend %flexible
      @extend %flexed
    .article
      @extend %flexible
      padding: 1em

.articles.show
  .article
    +columns( 35em )
    +column-rule( 1px dotted #ddd )
    +column-gap( 3em )
    +column-fill( auto )

    @media #{$media-query-tablet} and (orientation:landscape)
      +columns( 20em )

    header
      +column-span( all )

    img, .video iframe
      width: 100%

    img
      border-radius: 1em

.articles.edit, .articles.new
  article
    @extend %flexed--column
  form, .form-inputs
    @extend %flexible
    @extend %flexed--column
  .input
    &.text
      @extend %flexible
    @extend %flexed--row
    &:not(:last-child)
      margin-bottom: 0.5em
  textarea, input
    @extend %flexible
  .meltdown_wrap, .meltdown_editor-wrap, .meltdown_editor-deco
    @extend %flexible
    @extend %flexed--column
  .meltdown_editor-wrap, .meltdown_preview-wrap
