@import './Easings.module.css';

.enterActive,
.exitActive {
  transition-property: opacity, transform;
}

.enter {
  opacity: 0;
  transform: translateY(-125%);
}

.enterActive {
  opacity: 1;
  transform: translateY(0);
  transition: 500ms var(--ease-out-back);
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transform: translateY(125%);
  transition: 500ms var(--ease-in-back);
}
