.enter {
  opacity: 0;
  transform: translateY(-125%);
}

.enterActive {
  opacity: 1;
  transform: translateY(0);
  transition: ease-in-out 500ms;
  transition-property: opacity, transform;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transform: translateY(125%);
  transition: ease-in-out 500ms;
  transition-property: opacity, transform;
}
