@import './Easings.module.css';

.enter,
.enterActive {
  z-index: 10;
}

.exit,
.exitActive {
  z-index: 5;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: all var(--ease-in-out-back) 500ms;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: all var(--ease-in-out-back) 500ms;
}
