.Article {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.Article > header {
  margin-bottom: 1em;
}

.Article > section {
  flex: 1 0 auto;
  height: 5em;
  columns: 20em auto;
  box-decoration-break: clone;
  column-fill: auto;
  overflow-x: auto;
}

.Article > section p {
  margin-bottom: 1em;
}
