.Article {
  display: grid;
  grid: auto 1fr auto / auto-flow;
  height: 100%;
  padding: 2em;
}

.Article h2 {
  margin-top: 0;
}

.Article > section {
  columns: 20em;
  box-decoration-break: clone;
  /* column-fill: auto; */
  height: 100%;
  overflow-x: auto;
}
