= simple_form_for(@article) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, label: false, placeholder: 'Title'
    = f.input :body, as: :text, label: false, placeholder: 'Have something to say?', input_html: { class: %w{ markdown editor } }
