%h1 Listing articles

- @articles.each do |article|
  .article
    %p
      %b= link_to article.title, blog_slugged_article_path( article )
    %p= article.summary
    - unless article.media.blank?
      = article.media.sample.html_safe

%br

= link_to 'New Article', new_article_path
