%article#articles
  - @articles.each do |article|
    %article.article
      %header
        %h3= link_to article.title, blog_slugged_article_path( article )
      - unless article.media.blank?
        = article.media.sample.html_safe
      %p= article.summary
      %footer
        Created
        %time.timeago{ datetime: article.created_at.to_s(:iso8601) }
          = article.created_at.to_s( :long )
