%article.article
  %header
    %h2 New article
    %nav
      %span.material-icons.md-dark.md-2em.md-good
        save
      = link_to 'cancel', root_path, class: %w{ material-icons md-dark md-2em md-neutral }
  = render 'form'
