%article.article
  %header
    %nav
      = link_to 'cancel', root_path, class: %w{ material-icons md-dark md-2em md-neutral }
    %h2 New article
    %nav
      - if user_signed_in? and policy(Article).create?
        .hint--success.hint--bottom-left.hint--bounce.hint--rounded{data: { hint: 'Create article' }}
          %span.material-icons.md-dark.md-2em.md-good#save-article
            save
  = render 'form'
