.Breadcrumb {
  font-size: 24px;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.Breadcrumb::before {
  content: '';
  display: block;
  position: absolute;
  top: 20%;
  z-index: -1;

  width: calc(100% + 1.4em);
  height: 60%;

  background-color: hsl(207, 44%, 25%);
  border-radius: 1em;
}

.Breadcrumb ul,
.Breadcrumb li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Breadcrumb ul {
  display: flex;
  align-items: center;
}

.Breadcrumb li {
  flex-shrink: 0;
  display: inline-block;
  padding: 0 1.7em;
  margin-left: 0.25em;
  margin-right: -1.5em;

  overflow: hidden;
}

.Breadcrumb li:first-of-type {
  margin-left: 0;
}

.Breadcrumb a {
  background: steelblue;
  display: inline-block;
  padding: 0.1em 0.5em;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  color: white;
  height: 1.5em;
  line-height: 1.5em;

  position: relative;
  z-index: 1;

  text-shadow: 0 0.1em gray;
}

.Breadcrumb a::before,
.Breadcrumb a::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 3em;
  height: 2.2em;
  background-color: steelblue;
  z-index: -1;
}

.Breadcrumb a,
.Breadcrumb a::before,
.Breadcrumb a::after {
  transition: all 200ms ease-in-out;
}

.Breadcrumb a::before {
  transform: translate(-1.9em, -0.9em) rotate(45deg);
}

.Breadcrumb a::after {
  transform: translate(-1.1em, 0.25em) rotate(45deg);
}

.Breadcrumb a:hover,
.Breadcrumb a:hover::before,
.Breadcrumb a:hover::after {
  background-color: lightsteelblue;
  color: steelblue;
  text-shadow: 0 0.1em hsl(207, 44%, 25%);
}
