.Breadcrumb {
  font-size: 20px;
}

.Breadcrumb::before,
.Breadcrumb::after {
  content: '';

  transform: rotate(45deg);
}

.Breadcrumb::before {
}

.Breadcrumb::after {
}

.Breadcrumb ul,
.Breadcrumb li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Breadcrumb ul {
  display: flex;
  align-items: center;
}

.Breadcrumb li {
  padding: 0.25em;
  margin-left: 0.25em;
  background-color: steelblue;
  display: inline-flex;
  height: 1.5em;
  align-items: center;
  /* position: relative; */
  z-index: 1;
}

.Breadcrumb li:first-of-type {
  margin-left: 0;
}

.Breadcrumb li::before,
.Breadcrumb li::after {
  box-sizing: border-box;
  content: '';
  /* position: absolute; */
  width: 2em;
  height: 2em;
  /* background-color: steelblue; */
  z-index: -1;
}

.Breadcrumb li::before {
  transform: translate(-1.25em, -0.25em) rotate(45deg);
  outline: 1px solid green;
}

.Breadcrumb li::after {
  transform: translate(-0.75em, -0.25em) rotate(45deg);
  outline: 1px solid red;
}

.Breadcrumb a {
  text-decoration: none;
  color: white;
}
