#notifications
  position: fixed
  left: 0
  top: 0
  margin-left: 1em
  margin-top: 1em
  z-index: 10

  .notice, .alert, .error
    margin-bottom: 1em
    display: none

  .notice
    +transparent-card( darken( $site-green, 25% ) )

  .alert
    +transparent-card( darken( $site-yellow, 25% ) )

  .error
    +transparent-card( darken( $site-red, 25% ) )
