body > header
  padding-top: 6em
  padding-bottom: 0.5em
  @extend %flexed--row-reverse
  @extend %flexed-align--centered
  @extend %flexed-justify--start
  background-image: image-url( 'IMG_2026.jpg' )
  background-position: center center
  background-attachment: fixed
  background-size: cover
  background-repeat: no-repeat

  h1, nav
    @extend %flexible--not

  h1
    color: white
    a
      &:visited
        color: white
      &:hover
        color: $site-blue

  nav
    margin-top: 0.5em

  a, .material-icons.md-light
    @extend %animatable
    text-decoration: none
    &:hover
      +icon-highlight( $site-blue )
