.Header {
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: darkblue;
  mix-blend-mode: screen;
  color: white;
  box-shadow: 0 0.5em 1em hsla(0, 0%, 25%, 0.5);
}

.Header h1 {
  padding: 0;
  margin: 0;
  margin-left: 3rem;
  font-size: 3em;
  text-shadow: 0 0.07em gray;
}

.Header ul {
  margin-right: 3rem;
  display: flex;
}

.Header ul,
.Header li {
  list-style-type: none;
}
