.Header {
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 1;
  color: white;
  box-shadow: 0 1rem 1rem -1rem black;
}

.Header::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.45;
}

.Header h1 {
  padding: 0;
  margin: 0;
  margin-left: 3rem;
  font-size: 3em;
  text-shadow: 0 0.07em gray;
}

.Header ul {
  margin-right: 3rem;
  display: flex;
}

.Header ul,
.Header li {
  list-style-type: none;
}
